<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Handajun™ pet feeder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="hero">
      <header>
        <nav>
          <a href="/"><img src="photos/logo.png" alt="Handajun logo" class="logo"></a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about" id="currentPage">About us</a></li>
          </ul>
          <img src="photos/avatar.png" class="user-pic" alt="Profile picture" onclick="toggleMenu()" />

          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img src="photos/avatar.png" alt="Profile picture">
                <h5><%= username %></h5>
              </div>
              <hr>
              <a href="/settings" class="sub-menu-link">
                <img src="photos/setting.png" alt="Settings button">
                <p>Setting</p>
              </a>
              <a href="/logout" class="sub-menu-link">
                <img src="photos/logout.png" alt="Logout button">
                <p>Logout</p>
              </a>
            </div>
          </div>
        </nav>
      </header>
      <div class="container">
        <h1>About us</h1>
        <section>
          <p>
            We are five third-year students at Metropolia University of Applied Sciences who designed a smart pet feeder device. Feeding times can be easily programmed: Feed your favorite pet whenever it is convenient for you, day or
            night. Set between 1-3 meals with small, medium or large quantity options at specfic times or use auto mode to automatically fill the bowl at all times to provide a customized diet for your pet.
            <br>
            <br>
            <a href="https://github.com/khanhhado1208/SMART-IOT-PET-FEEDER-WEB" id="link">Source code</a>
          </p>
        </section>
      </div>
      <!--container-->

      <footer>
        <img src="photos/logo.png" alt="Handajun logo" id="logofooter"><br>
        Copyright © 2022 Daniel Radvanyi, Ha Do, Anatoliy Rubanenko, Shen Jun, Haque Imtiazul
      </footer>
    </div>
    <!--hero-->

    <script>
      let subMenu = document.getElementById("subMenu");
      function toggleMenu() {
        subMenu.classList.toggle("open-menu");
      }
    </script>
  </body>
</html>
