a:hover{
    color: #E63946;
    text-shadow: 2px 1px 2px #e639475f;
    text-decoration:none;
}
a{
    color: #E63946;
    font-weight: bold;
}
body{
    background-color:#E63946;
    color:#1D3557;
}
footer{
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}
hr{
    border-width: 1px;
    border-color: hsl(215, 50%, 23%, .500);
}
.alignright{
    text-align: right;
}
.card-body{
    padding-left: 40px;
}
.card{
    background-color: #A8DADC;
    border-radius: 20px;
    border: 4px solid #1D3557;
}
.container{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.img-container{
    margin-top: 10%;
}
.img-fluid-set{
    max-width: 100%;
    height: 500px;
}
.img-fluid2{
    max-width: 100%;
    height: 300px;
}
.linker{
    text-align: center;
}
.logobox{
    margin-right: 20px;
    text-align: center;
}
.logo{
    height: 100px;
    margin-bottom: 5px;
}
.p-lg-5{
    padding-top: 10px;
}
#button{
    color: #F1FAEE;
    background-color: #1D3557;
}
#images{
    padding-right: 0px;
    border-right: #1D3557 5px solid;
}
#logofooter{
    width: 100px;
}
#welcome{
    margin-bottom: 10%;
}