<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Handajun™ pet feeder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="hero">
      <header>
        <nav>
          <a href="/"><img src="photos/logo.png" alt="Handajun logo" class="logo"></a>
          <ul>
            <li><a href="/" id="currentPage">Home</a></li>
            <li><a href="/about">About us</a></li>
          </ul>
          <img src="photos/avatar.png" alt="Profile picture. Click to open dropdown menu." class="user-pic" onclick="toggleMenu()">

          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img src="photos/avatar.png" alt="Profile picture">
                <h5><%= username %></h5>
              </div>
              <hr>
              <a href="/settings" class="sub-menu-link">
                <img src="photos/setting.png" alt="Settings button">
                <p>Settings</p>
              </a>
              <a href="/logout" class="sub-menu-link">
                <img src="photos/logout.png" alt="Logout button">
                <p>Logout</p>
              </a>
            </div>
          </div>
        </nav>
      </header>

      <div class="container">
        <h1>Hello <%= username %> <span class="wave">👋</span></h1>
        <h2>Welcome to the Handajun™ pet feeder control panel. Here you can set up a feeding routine for your pet.</h2>

        <div id="main">
          <section>
            <h3>Feeder control</h3>
            <div class="row">
              <div class="column">
                <h4>Power</h4>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active"> <input type="radio" name="power" autocomplete="off" value="no"> Off </label>
                  <label class="btn btn-secondary"> <input type="radio" name="power" autocomplete="off" value="yes"> On </label>
                </div>
              </div>
              <div class="column">
                <div id="collapse" class="panel-collapse collapse">
                  <h4>Mode<img src="photos/info.png" class="info" alt="Info button" onclick="showOrHide()" id="showInfo"></h4>
                  <div id="infoMachine">
                    <p>
                      You can configure the pet feeder in two ways. You can choose one of these options to feed your pet. Auto mode will automatically refill the bowl, while in schedule mode you can set up manually when the feeder
                      activates.
                    </p>
                  </div>

                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary" id="modebtn1"> <input type="radio" name="mode" autocomplete="off" value="auto"> Auto </label>
                    <label class="btn btn-secondary" id="modebtn2"> <input type="radio" name="mode" autocomplete="off" value="scheduled"> Scheduled </label>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div id="collapseMode" class="panel-collapse collapse">
          <section>
            <h3>Feeding setup</h3>

            <form action="/schedule" method="post">
              <label class="form-label">Feeding per day:</label>
              <select class="form-select" id="perselector" name="perday">
                <option selected class="selected" value="0">Choose</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>

              <hr>

              <div class="row" id="timeinput">
                <div class="column">
                  <div id="collapse1" class="panel-collapse collapse">
                    <label class="form-label">Select first feeding time</label>
                    <input type="time" name="first" id="first" class="clock">
                  </div>
                </div>
                <div class="column">
                  <div id="collapse2" class="panel-collapse collapse">
                    <label class="form-label">Select second feeding time</label>
                    <input type="time" name="second" id="second" class="clock">
                  </div>
                </div>
                <div class="column">
                  <div id="collapse3" class="panel-collapse collapse">
                    <label class="form-label">Select third feeding time</label>
                    <input type="time" name="third" id="third" class="clock">
                  </div>
                </div>
              </div>
              <hr id="separator" class="panel-collapse collapse">
              <label class="form-label">Portion size:</label>
              <select class="form-select" id="sizeselector" name="size">
                <option selected class="selected" value="0">Choose</option>
                <option value="1">Small</option>
                <option value="2">Medium</option>
                <option value="3">Large</option>
              </select>

              <button class="btn btn-dark btn-lg btn-block" id="submitRoutine" type="submit">
                Start routine
              </button>
            </form>
          </section>
        </div>

        <div id="collapseAuto" class="panel-collapse collapse">
          <section>
            <h3>Automatic feeding</h3>
            <p>In this mode, the feeder will automatically fill the bowl whenever it is empty.</p>

            <form action="/schedule" method="post">
              <button class="btn btn-dark btn-lg btn-block" name="mode" value="auto" type="submit">
                Start routine
              </button>
            </form>
          </section>
        </div>

        <section>
          <h3>Monitoring</h3>
          <div class="row">
            <div class="column">
              <h4>Bowl status:</h4>
              <div class="status">
                <div class="row">
                  <div class="column">
                    <p>Food: <%= reading %></p>
                  </div>
                  <div class="column">
                    <form action="/feednow" method="post">
                      <button type="submit" class="btn btn-primary">Fill now</button>
                    </form>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="column">
                    <p>Water:</p>
                  </div>
                  <div class="column">
                    <button type="submit" class="btn btn-primary">Fill now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="vl"></div>
            <div class="vl2"></div>
            <div class="column">
              <h4>Feeder status:</h4>
              <div class="status">
                <div class="row">
                  <div class="column">
                    <p>Food:</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="column">
                    <p>Water:</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!--container-->

      <footer>
        <img src="photos/logo.png" alt="Handajun logo" id="logofooter"><br>
        Copyright © 2022 Daniel Radvanyi, Ha Do, Anatoliy Rubanenko, Shen Jun, Haque Imtiazul
      </footer>
    </div>
    <!--hero-->

    <script>
      //Collapse
      $('[name="power"]').on("change", function () {
        if ($(this).val() === "yes") {
          $("#collapse").collapse("show");
        } else {
          $("#collapse").collapse("hide");
          $("#collapseMode").collapse("hide");
          $("#collapseAuto").collapse("hide");
          // set mode buttons as inactive if device is shut off
          document.getElementById("modebtn1").classList.remove("active");
          document.getElementById("modebtn2").classList.remove("active");
        }
      });

      //Collapse
      $('[name="mode"]').on("change", function () {
        if ($(this).val() === "scheduled") {
          $("#collapseMode").collapse("show");
          $("#collapseAuto").collapse("hide");
        } else {
          $("#collapseMode").collapse("hide");
          $("#collapseAuto").collapse("show");
        }
      });

      //script for revealing feeding time options
      $(".collapse1").addClass("collapse");

      $("#perselector").change(function () {
        //hide all elements
        var selector = "#collapse" + $(this).val();
        if ($(this).val() === "none") {
          $("#collapse1").collapse("hide");
          $("#collapse2").collapse("hide");
          $("#collapse3").collapse("hide");
          $("#separator").collapse("hide");
        } else if ($(this).val() === "1") {
          $("#collapse1").collapse("show");
          $("#collapse2").collapse("hide");
          $("#collapse3").collapse("hide");
          $("#separator").collapse("show");
        } else if ($(this).val() === "2") {
          $("#collapse1").collapse("show");
          $("#collapse2").collapse("show");
          $("#collapse3").collapse("hide");
          $("#separator").collapse("show");
        } else if ($(this).val() === "3") {
          $("#collapse1").collapse("show");
          $("#collapse2").collapse("show");
          $("#collapse3").collapse("show");
          $("#separator").collapse("show");
        }
      });

      // Empty form blocker
      let perValue = $('#perselector').val("0");
      let sizeValue = $('#sizeselector').val("0");
      
      const time1 = document.getElementById("first")
      const time2 = document.getElementById("second")
      const time3 = document.getElementById("third")

      $(document).ready(function () {
        $('#submitRoutine').prop('disabled',true)

        $('.form-select').change(function () {
          let valid
          if(sizeValue.val()=="0"){
            valid=false
          } else {
            switch(perValue.val()){
              case "0":
                valid = false
                break;
              case "1":
                time1.value == "" ? valid = false : valid = true
                break;
              case "2":
                time1.value == "" || time2.value == "" ? valid = false : valid = true
                break;
              case "3":
                time1.value == "" || time2.value == "" || time3.value == "" ? valid = false : valid = true
                break;
            }
          }
          if(valid){
            $('#submitRoutine').prop("disabled", false)
          } else {
            $('#submitRoutine').prop("disabled", true)
          }
        })

        $('.clock').change(function () {
          let valid
          if(sizeValue.val()=="0"){
            valid=false
          } else {
            switch(perValue.val()){
              case "0":
                valid = false
                break;
              case "1":
                time1.value == "" ? valid = false : valid = true
                break;
              case "2":
                time1.value == "" || time2.value == "" ? valid = false : valid = true
                break;
              case "3":
                time1.value == "" || time2.value == "" || time3.value == "" ? valid = false : valid = true
                break;
            }
          }
          if(valid){
            $('#submitRoutine').prop("disabled", false)
          } else {
            $('#submitRoutine').prop("disabled", true)
          }
        })
      });



      // Drop down menu
      let subMenu = document.getElementById("subMenu");
      function toggleMenu() {
        subMenu.classList.toggle("open-menu");
      }

      //Text appearing on info icon click
      const divInfo = document.querySelector("#infoMachine");
      let isClick = true;
      let showOrHide = function () {
        if (isClick) {
          divInfo.style.display = "block";
          isClick = false;
        } else {
          divInfo.style.display = "none";
          isClick = true;
        }
      };
    </script>
  </body>
</html>
