<!DOCTYPE html>
<html lang="en">
<head>
    <title>Handajun™ pet feeder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="hero">
    <header>
      <nav>
        <img src="photos/logo.png" class="logo">
        <ul>
            <li><a href="#" id="currentPage">Home</a></li>
            <li><a href="#">About us</a></li>
        </ul>
        <img src="photos/avatar.png" class="user-pic" onclick="toggleMenu()">
  
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="photos/avatar.png">
                    <h5><%= username %></h5>
                </div>
                <hr>
                <a href="#" class="sub-menu-link">
                    <img src="photos/setting.png">
                    <p>Setting</p>
                </a>
                <a href="/logout" class="sub-menu-link">
                    <img src="photos/logout.png">
                    <p>Logout</p>
                </a>
            </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <h1>Hello <%= username %> <span class="wave">👋</span></h1>
      <h2>Welcome to the Handajun™ pet feeder control panel. Here you can set up a feeding routine for your pet.</h2>

      <div id="main">      
        <div class="section">
          <h3>Feeder control</h3>
          <div class="row">
            <div class="column">
              <h4>Power</h4>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="power" id="option1" autocomplete="off" value="no"/> Off
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="power" id="option2" autocomplete="off" value="yes"/> On
                  </label>
                </div>
            </div>
            <div class="column">
              <div id="collapse" class="panel-collapse collapse">
                <h4>Mode<img src="photos/info.png" class="info" onclick="showOrHide()" id="showInfo"></h4>
                <div id="infoMachine">
                  To configure the pet feeder, we have two options. You can feed your pet to one of them. 
                  Auto mode will be used to automatically refill the bowl, and schedule mode will be used to manually set it up.
                </div>
                <!-- <img src="photos/infoMachine.jpg" id="infoMachine"> -->

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary" id="modebtn1">
                    <input type="radio" name="mode" id="option1" autocomplete="off" value="auto"> Auto
                  </label>
                  <label class="btn btn-secondary" id="modebtn2">
                    <input type="radio" name="mode" id="option2" autocomplete="off" value="scheduled"> Scheduled
                  </label>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
          
        <script>
          $('[name="power"]').on('change', function(){  
          if($(this).val()  === "yes"){
            $('#collapse').collapse('show')
          }else{
            $('#collapse').collapse('hide')
            $('#collapseMode').collapse('hide')
            
            // set mode buttons as inactive if device is shut off
            document.getElementById("modebtn1").classList.remove("active");
            document.getElementById("modebtn2").classList.remove("active");
          }
          });
        </script>

        <div id="collapseMode" class="panel-collapse collapse">
          <div class="section">
            <h3>Feeding setup</h3>

            <p>Feeding per day</p><br>
            <p>Feeding times</p><br>
            <p>Portion size</p>
          </div>
        </div>

        <script>
          $('[name="mode"]').on('change', function(){  
          if($(this).val()  === "scheduled"){
            $('#collapseMode').collapse('show')
          }else{
            $('#collapseMode').collapse('hide')
          }
          });
        </script>

        <div class="section">
          <h3>Monitoring</h3>
          <div class="row">
            <div class="column">
              <h4>Bowl status:</h4>
              <div class="status">
                <div class="row">
                  <div class="column">
                    <p>Food: </p>
                  </div>
                  <div class="column">
                    <button type="submit" class="btn btn-primary">Fill now</button>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="column">
                    <p>Water: </p>
                  </div>
                  <div class="column">
                    <button type="submit" class="btn btn-primary">Fill now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="vl"></div>
            <div class="vl2"></div> 
            <div class="column">
              <h4>Feeder status:</h4>
              <div class="status">
                <div class="row">
                  <div class="column">
                    <p>Food:</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="column">
                    <p>Water:</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!--main content-->


      <footer>
        <img src="photos/logo.png" id="logofooter"><br>
        Copyright © 2022 Daniel Radvanyi, Ha Do, Anatoliy Rubanenko, Shen Jun, Haque Imtiazul
      </footer>

    </div> <!--container-->
  </div> <!--hero-->


  <script>
    let subMenu = document.getElementById("subMenu")
    function toggleMenu(){
        subMenu.classList.toggle("open-menu")
    }
  </script>
 <script>
const divInfo = document.querySelector('#infoMachine')
let isClick = true;
let showOrHide = function(){
  if(isClick){
    divInfo.style.display = 'block'
    isClick = false
  }else{
    divInfo.style.display = 'none'
    isClick = true
  }
  
}
 </script>
</body>
</html>

<!--TODO
favicon
logo fix
add content
collapse

-->