 /* ELEMENTS */
body{
    margin: 0;
     padding: 0;
     font-family: \'Poppins\', sans-serif;
     box-sizing:border-box;
 }
 footer{
   margin-top: 5px;
     text-align: center;
     font-size: 12px;
 }
 h1{
     font-weight: bold;
     font-size: 30px;
 }
 h2{
     font-size: 21px;
 }
 h3{
     font-weight: bold;
     font-size: 21px;
     margin-top: 5px;
 }
 h4{
   font-size: 17px;
   margin-bottom: 4px;
 }
 header{
   position: fixed;
   width: 100%;
 }
 hr{
     border-top: 1px solid #E63946;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 nav ul li a {
     color: #1D3557;
     text-decoration: none;
     width: 130px;
     display: inline-block;
 }
 nav ul li a:focus {
     color: #1D3557;
     text-decoration: none;
 }
 nav ul li a:hover {
     color: #1D3557;
     font-weight: bold;
     text-decoration: none;
 }
 nav ul li {
     display: inline-block;
     list-style: none;
     margin: 5px 10px;
 }
 nav ul{
     width: 100%;
     text-align: right;
     margin-bottom: 0px;
 }
 nav{
     background: #E63946;
     width: 100%;
     padding: 5px 7.5% 5px 8%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: relative;
 }
 p{
     display: inline-block;
     margin: 0px;
     font-size: 15px;
 }
 section{
    background-color: #F1FAEE;
    border-color: #E63946;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 1px;
    text-align: left;
 }

  /* ELEMENT CLASSES */
 .btn-block:active{
     box-shadow: inset 0px 0px 15px black;
 }
 .btn-block:active{
     box-shadow: inset 0px 0px 15px black;
 }
 .btn-block:focus{
     color: #F1FAEE;
 }
 .btn-block:focus{
     color: #F1FAEE;
 }
 .btn-block:hover{
     background-color: #172b47;
     color: #F1FAEE;
 }
 .btn-block:hover{
     background-color: #172b47;
     color: #F1FAEE;
 }
 .btn-block{
     margin-top: 15px;
     color: #F1FAEE;
     background-color: #1D3557;
 }
 .btn-primary:active:focus{
   background-color: #E63946;
   color: #1D3557;
 }
 .btn-primary:focus{
   background-color: #E63946;
   color: #1D3557;
   animation-name: buttonpress;
   animation-duration: 0.5s;
 }
 .btn-primary:hover{
   background-color: #E63946;
   box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
   font-weight: bold;
   color: #1D3557;
 }
 .btn-primary{
   background-color: #E63946;
   border-color: #8c1822;
   border-width: 1px;
   color: #1D3557;
   width: 85px;
 }
 .btn-secondary.active{
     border-color: #8c1822;
     border-width: 1px;
     font-weight: bold;
     background-color: #E63946;
 }
 .btn-secondary.focus{
     color: black;
 }
 .btn-secondary:hover{
     color: black;
 }
 .btn-secondary{
     margin-right: 1px;
     border-color: #8c1822;
     border-width: 1px;
 }
 .clock:focus{
     border-color: #E63946;
     border-width: 2px;
 }
 .clock{
   width: 13.5ch;
   border: 1px solid hsla(215, 50%, 23%, 0.499);
   border-radius: 0.25em;
   padding: 0.25em 0.5em;
   font-size: 17px;
   cursor: pointer;
   line-height: 1.1;
   background-color: #fff;
   background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
 }
 .column {
   padding-bottom: 5px;
   flex: 50%;
   margin-left: 15px;
 }
 .container{
   padding-top: 80px;
   border-style: solid;
   border-color: #E63946;
   border-width: 1px;
   border-top: none;
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px;
   text-align: center;
   color: #1D3557;
   background-color: #A8DADC;
 }.currentID{
     font-size: 15px;
     font-style: italic;
 }
 .form-label{
     font-size: 17px;
 }
 .form-label{
     font-size: 17px;
 }
 .form-select:focus{
 border-color: #E63946;
 border-width: 2px;
 }
 .form-select:focus{
 border-color: #E63946;
 border-width: 2px;
 }
 .form-select{
   width: 100%;
   min-width: 10ch;
   max-width: 12ch;
   border: 1px solid hsla(215, 50%, 23%, 0.499);
   border-radius: 0.25em;
   padding: 0.25em 0.5em;
   font-size: 17px;
   cursor: pointer;
   line-height: 1.1;
   background-color: #fff;
   background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
 }
 .form-select{
   width: 100%;
   min-width: 10ch;
   max-width: 12ch;
   border: 1px solid hsla(215, 50%, 23%, 0.499);
   border-radius: 0.25em;
   padding: 0.25em 0.5em;
   font-size: 17px;
   cursor: pointer;
   line-height: 1.1;
   background-color: #fff;
   background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
 }
 .hero{
     width: 100%;
     min-height: 100vh;
     background: #F8FFE3;
     color: #1D3557;
     font-size: 30px;
 }
 .info img{
     width: 500px;
     border-radius: 50%;
     margin-right: 15px;
 }
 .info:hover{
     width: 13px;
     margin-bottom: 5px;
 }
 .info{
     margin-left: 3px;
     margin-bottom: 7px;
     width: 11px;
 
 }
 .info{
     margin-left: 3px;
     margin-bottom: 7px;
     width: 11px;
 
 }
 .info{
     margin-left: 3px;
     margin-bottom: 7px;
     width: 11px;
 }
 .logo{
     height: 80px;
 }
 .row {
   display: flex;
 }
 .selected{
     background-color: rgb(226, 226, 226);
 }
 .status{
   margin-left: 17%;
 
 }
 .sub-menu hr{
     border: 0;
     height: 1px;
     width: 100%;
     background: #E63946;
     margin: 15px 0 10px;
 }
 .sub-menu-link img{
     width: 40px;
     background: #F1FAEE;
     border-radius: 50%;
     padding:8px;
     margin-right: 15px;
 }
 .sub-menu-link p{
     width: 100%;
 }
 .sub-menu-link span{
     font-size: 22px;
     transition: transform 0.5s;
 }
 .sub-menu-link:hover p{
     font-weight: 600;
 }
 .sub-menu-link:hover span{
     transform: translateX(5px);
 }
 .sub-menu-link{
     display: flex;
     align-items: center;
     text-decoration: none;
     color: #1D3557;
     margin: 12px 0;
 }
 .sub-menu-wrap.open-menu{
     max-height: 400px;
 }
 .sub-menu-wrap{
     position: absolute;
     top: 100%;
     right: 3%;
     width: 320px;
     max-height: 0px;
     overflow: hidden;
     transition: max-height 0.7s;
 }
 .sub-menu{
     background:#A8DADC;
     padding: 20px;
     padding-bottom: 8px;
     margin: 10px;
     border: 1px solid #E63946;
     border-radius: 15px;
 }
 .user-info h3{
     font-weight: 500;
 }
 .user-info img{
     width: 60px;
     border-radius: 50%;
     margin-right: 15px;
 }
 .user-info{
     display: flex;
     align-items: center;
 }
 .user-pic{
     width: 40px;
     border-radius: 50%;
     cursor: pointer;
     margin-left: 30px;
 }
 .vl {
  border-left: 3px solid #E63946;
  height: auto;
 }
 .vl2 {
   border-right: 1px solid #E63946;
   padding-left: 3px;
   height: auto;
 }
 .wave {
     animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
     animation-duration: 2.5s;
    /* Change to speed up or slow down */
     animation-iteration-count: infinite;
    /* Never stop waving :) */
     transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
     display: inline-block;
 }

  /* ELEMENT IDs */
 #currentPage{
     font-weight: bold;
 }
 #infoMachine { 
     display: none;
     background:#A8DADC;
     padding: 10px;
     margin: 10px;
     border: 1px solid #E63946;
     border-radius: 15px;
     font-size: 20px;
 }
 #link{
    color: #E63946;
 }
 #logofooter{
     width: 100px;
 }
 #main{
     text-align: left;
 }
 #selected{
     background-color: rgb(226, 226, 226);
 }
 #timeinput{
     margin-right: 30%;
 }
 #timeinput{
     margin-right: 30%;
 }

 /* ANIMATIONS */
 @keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg) 
   }10% {
      transform: rotate(14.0deg) 
   }/* The following five values can be played with to make the waving more or less extreme */
   20% {
      transform: rotate(-8.0deg) 
   }30% {
      transform: rotate(14.0deg) 
   }
   40% {
      transform: rotate(-4.0deg) 
   }
   50% {
      transform: rotate(10.0deg) 
   }
   60% {
      transform: rotate( 0.0deg) 
   }
   /* Reset for the last half to pause */
   100% {
      transform: rotate( 0.0deg) 
   }
}
@keyframes buttonpress {
  0%{
     box-shadow: 0px 0px  #1D3557
  }
  50%{
     box-shadow: 30px 0px  #1D3557
  }
  100%{
     box-shadow: 0px 0px  #1D3557
  }
}